.gradle
/build/
QaTest\.idea\libraries
QaTest/.idea/libraries/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
QaTest/build/tmp/compileTestJava/source-classes-mapping.txt
QaTest/build/test-results/test/binary/results.bin
QaTest/build/test-results/test/binary/output.bin
QaTest/build/reports/tests/test/js/report.js
QaTest/build/reports/tests/test/css/style.css
QaTest/build/reports/tests/test/classes/First.html
QaTest/build.gradle
QaTest/build/classes/java/test/First.class
QaTest/build/reports/tests/test/css/base-style.css
QaTest/build/reports/tests/test/index.html
QaTest/build/reports/tests/test/packages/default-package.html
QaTest/build/test-results/test/binary/output.bin.idx
QaTest/build/test-results/test/TEST-First.xml
QaTest/gradle/wrapper/gradle-wrapper.jar
QaTest/.idea/uiDesigner.xml
QaTest/build/classes/java/test/UA/QA/FIRST/First.class
QaTest/build/classes/java/test/UA/QA/FIRST/GroupDate.class
QaTest/build/classes/java/test/UA/QA/FIRST/UserDate.class
QaTest/build/reports/tests/test/classes/UA.QA.FIRST.First.html
QaTest/build/reports/tests/test/packages/UA.QA.FIRST.html
QaTest/build/test-results/test/TEST-UA.QA.FIRST.First.xml
QaTest/.idea/uiDesigner.xml
